In the current example, are demostrated the Right-To-Left support of <strong>RadGridView.</strong><p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-localization-rtl.html">online documentation</a></p>