<p>This example mimics a browser and exhibits the types of items <strong>RadToolStrip</strong> supports: <em>Telerik Buttons, </em> <em>Separators,</em> <em>images,</em> <em>text boxes,</em> <em>drop downs,</em> and more.</p><p>This example also shows Telerik <b>RadCommandBar's</b> Overflow support and support for shrinkable toolbars, which are very handy for limited window space (for example when the form is resized).</p><p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/commandbar-overview.html">online documentation</a></p>
