This example shows the "Add New Row" capability of <strong>RadGridView.</strong><p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-rows-new-row.html">online documentation</a></p>