﻿It's easy to extend the drag & drop behavior of <b>RadGridView</b> with the build-in <b>RadDragDropService</b>. It allows rapid implementation of rows' drag & drop among different <b>RadGridView</b> instances.<br />Pres and hold down the <b>Ctrl</b> key to move multiple rows!<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-rows-drag-and-drop.html">online documentation</a></p>

