RadGridView supports exporting hierarchical data. The following methods allow you to use this feature: <strong>ExportToExcelML</strong>, <strong>ExportToHTML</strong> and <strong>ExportToPDF</strong>.<br/>
To include the whole child view data, set the <strong>ExportHierarchy</strong> property to true.<br />
In addition, you can export grouped data. Just group RadGridView by any column and run the export functionality.