﻿<p><b>CellFormatting</b> and <b>RowFormatting</b> events fire when cells and rows shoud update their state. You could use these events for conditional formatting as presented in this example.</p>
<p>These events fire only for data cells. If you want to format system rows and cells, you should handle <b>ViewCellFormatting</b> and <b>ViewRowFormatting</b> events.</p><p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-cells-formatting-cells.html">online documentation</a></p>