﻿With RadGanttView, you can easily create and implement a custom timeline, visualizing custom-defined time ranges, by utilizing a built-in functionality. The example above shows implementation of decades.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/ganttview-timeline-custom-timeline.html">online documentation</a></p>

