﻿<p>When using RadGridView in unbound mode, rows can be reordered by using the mouse or with code. The <b>AllowRowReorder</b> property should be set to <b>true</b> to enable this featrue.</p>
<p> </p>
<p>Press and hold down the left mouse button, then start dragging a row to change its place.</p>