<strong>RadButton</strong> is a simple button control which replaces the standard WinForms button, but gives you full control over the visual appearance. 
Supports themes, images, text, and backgrounds. <p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/buttons-button-overview.html">online documentation</a></p>