This example demonstrates how to use the <strong>ToolTipTextNeeded</strong> event exposed by <strong>RadGridView.</strong> It can be used to display tooltips for cells (or for any descendant of <strong>RadItem</strong>) in the <strong>RadGridView.</strong><p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-cells-tooltips.html">online documentation</a></p>
