This example shows the check box and radio button support of <strong>RadTreeView</strong>. Radio buttons and check boxes can be added to any treeview node and support all three states (checked, unchecked and indeterminate).<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/treeview-working-with-nodes-using-checkboxes.html">online documentation</a></p>
