<strong>RadMessageBox</strong> allows adding messages or simple dialogs with visual appearance as your application. It inherits RadForm and supports <i>Auto-sizing, Various button layouts, Localization, Theming, Right-to-left layout, Copy to clipboard with Ctrl+C command.</i> With <b>RadMessageBox</b> you could use any of predefined themes or apply your custom ones.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/forms-and-dialogs-messagebox-overview.html">online documentation</a></p>
