This example demonstrates the ability of RadScheduler to support start/end working time.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/scheduler-views-day-view.html">online documentation</a></p>