This example demonstrates <b>RadDropDownList</b> used in a real life scenario.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/dropdown-and-listcontrol-dropdownlist-overview.html">online documentation</a></p>