<b>RadPanel</b> is a themeable alternative to the standard Windows Forms panel control. Supports transparency.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/panels-and-labels-panel-overview.html">online documentation</a></p>