With RadTreeView it is easy to add custom logic in tree nodes.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/treeview-working-with-nodes-custom-nodes.html">online documentation</a></p>