<strong>RadCalendar</strong> supports all cultures in the <i>System.Globalization</i> namespace. This example shows the available cultures and how they are handled by <strong>RadCalendar.</strong> Apart from the <strong>RadCalendar,</strong> the status bar buttons can also be localized.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/calendar-localization-globalization-properties.html">online documentation</a></p>
