This example shows drag and drop from different RadControls to the RadScheduler (standard WinForms controls are also supported). 
You can drag an appointment row from RadGridView and it will show at the proper place, depending on the drag and drop setting ("anywhere" or "at start date/time").
Appointments dropped from RadListBox will appear at the time/hour slow where the appointment has been dropped.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/scheduler-drag-and-drop-drag-and-drop-from-another-control.html">online documentation</a></p>