This example demonstrates <strong>RadGridView</strong> grouping.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-grouping-basic-grouping.html">online documentation</a></p>