<b>RadForm</b> is the Telerik counterpart of the standard Windows Form, but supercharged with rounded corners, themes, MDI support, and full integration with the rest of the Telerik controls, including 
<b>RadTitleBar</b> and <b>RadStatusStrip. </b>All features are easy and intuitive to use, available immediately after adding <b>RadForm</b> to your project.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/forms-and-dialogs-form-overview.html">online documentation</a></p>