﻿RadGridView enables full customization, which includes the painting. By using custom painting you can decorate cells and rows with ease. To enable the custom painting one should set the <b>EnableCustomDrawing</b> property to true. <p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-rows-painting-rows.html">online documentation</a></p>
