﻿With the free format date input feature of the date-time related RadControls, end-users are able to enter a date and time in a wide range of formats without having to conform to a specific mask.
For example: 
An entry of "2 Jan 07 5 20" will be interpreted as January 2, 2007 5:20, by parsing logic. Similarly, 010203 will be interpreted as January 2, 2003. The RadMaskedEditBox and RadDateTimeOicker will display the already parsed DateTime object according their masks.
RadTimePicker switches the parsing logic to TimeOnly mode which means that you do not have to care about the date part and you can bypass the time separator requirement as well. In this mode "4 15 30 pm" will be interpreted as 4:15:30 PM or 16:15:30.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/editors-maskededitbox-parsing-dates.html">online documentation</a></p>
