<strong>RadMultiColumnComboBox</strong> is a modified <b>RadDropDownList</b> hosting a <strong>RadGridView</strong> in its drop-down.
This example shows the <strong>RadMultiColumnComboBox</strong> control and its ability to filter its rows. When the <i>AutoFilter</i>
property is set to true and an appropriate filtering expression is assigned to the <strong>RadGridView</strong>. Filtering is applied as
you type and different auto complete modes are supported - Suggest, Append and SuggestAppend.

The example also shows right-to-left language support.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/multicolumncombobox-overview.html">online documentation</a></p>