﻿<p>It is easy to indicate errors by using the <b>IDataErrorInfo</b> interface. This interface enables you to calculate and determine whether the row/cell data is valid. 
When your data source does not support <b>IDataErrorInfo</b> interface, you can directly set the row/cell <b>ErrorText</b> property.</p>
Use the <b>Set</b> button on the right pane to set the error text and indicate that there is an error.
Use the <b>Clear</b> button to clear the error indication that user has been created via the menu.
