<b>RadStatusStrip </b>represents an area that displays various kinds of status information in a windows form. Fully themable, <b>RadStatusStrip</b> can hold any Telerik control such as RadButton or RadProgressBar, to display text and images, and to indicate item state and/or operation progress.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/forms-and-dialogs-statusstrip-overview.html">online documentation</a></p>
