﻿<p>The First Look example presents the <b>RadWizard</b> control and shows some of its customization options. You can review them following the steps of the control.

The main features included in the example are: customizing <i>welcome image</i>, <i>page header</i>, <i>command area</i>, and <i>page navigation</i>.</p><p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/wizard-overview.html">online documentation</a></p>