This example demonstrates the following RadScheduler events: <i>ActiveViewChanging,</i> which fires on view changing; <i>ActiveViewChanged,</i> which fires on view changed; 
<i>AppointmentMouseDown,</i> which fires on mouse down of an appointment; <i>AppointmentMouseUp,</i> which fires on mouse up of an appointment; <i>AppointmentSelecting,</i> 
which fires when selecting an appointment; <i>AppointmentSelected,</i> which fires when an appointment is selected; <i>AppointmentEditDialogShowing,</i> 
which fires when an edit dialog is showing; <i>CellClick,</i> which fires on cell click;<i>AppointmentMoving</i>, <i>AppointmentMoved</i> these events fire before and after an appointment
is moved; <i>AppointmentResized</i>,  <i>AppointmentResizeEnd</i>, <i>AppointmentResizeStart</i> these fire when a appointment is resized; <i>AppointmentDropping</i>, <i>AppointmentDropped</i>
these fire when a appointment is dropped. <i>CellSelectionChanged</i>, <i>CellSelectionChanging</i> these event fire when the user selects different cell.