This example demonstrates a zooming effect of an <b>RadElement</b>/<b>RadItem</b>, placed in a custom-build <strong>BabbleBar</strong> control.<br>
The <b>BubbleBar</b> control is a simple layout which arranges several <b>RadButtonElements.</b> The scaling animation is achieved by a property setting applied to the <b>BubbleBarElement</b> which changes each button's <b>ScaleTransform</b> property to achieve the nice zooming effect.