﻿The Automatic Timeline functionality embedded in RadGanttView enables live timeline range customization based on the currently applied zoom level. The timeline view automatically transforms to date, month, quarter or half year view depending on your project's time frame and the length of the exact project phase that you are looking at.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/ganttview-timeline-timeline-views.html">online documentation</a></p>

