Each <b>RadElement</b>/<b>RadItem</b> can be shaped by setting the <b>Shape</b> property. The shape can be easily modified either in design mode or 
through the Visual Style Builder by using the <b>Shape Designer.</b><br>
The <b>Shape Designer</b> provides an easy way for creating all kinds of custom shapes only by adding, removing and dragging the points which represent the shape. Each line can also be curved only by right-clicking and making it a curved line.