The example demonstrates the functionality of the built-in a RadDock instance <strong>DocumentManager</strong>.
The manager tracks all the available documents (for a <b>Document</b> is considered a DockWindow instance which resides within the MainDocumentContainer)
and has support for document navigation.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/dock-architecture-and-features-document-manager.html">online documentation</a></p>