<b>RadPageView</b> is a versatile component for building collapsible side-menu systems and Outlook-type panels. It is developed to facilitate left/right-side navigation, which cannot be achieved with conventional drop-down menu components. This example demonstrates the Stack mode of <b>RadPageView</b>.
