RadTreeView supports single selection and multiple selection of nodes. Moreover, a node can be current and not selected at the same time.
Another interesting feature is the keyboard selection capabilities. When a key is pressed, a node starting with this character (if such) will be automatically selected. You can also type in a few characters to perform more precise search e.g. try typing "sea" and it will select "Search Folder", no matter where you are.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/treeview-working-with-nodes-selecting-nodes.html">online documentation</a></p>

