The example allows different strip view settings to be modified:
<i>Strip alignment</i> defines the position of the strip within the view.
<i>Item alignment</i> defines the position of items rectangle within the strip.
<i>Item fit mode</i> determines whether the items will fit within the available strip's client rectangle.
<i>Item size mode</i> defines rules to be applied when calculating each item's size.
<i>Item content orientation</i> specifies how items will be oriented, depending on the current strip's alignment.
<i>Item spacing</i> defines the space between each two items within the strip.