The example demonstrates the extensibility of the <strong>DragDropService</strong> available within a <b>RadDock</b> instance.
The service is the main entry point for a drag-and-drop operation and is fully programmable through code.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/dock-architecture-and-features-using-the-dragdropservice.html">online documentation</a></p>