﻿This example demonstrates how the default elements can be replaced with custom ones.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/scheduler-fundamentals-scheduler-element-provider.html">online documentation</a></p>