﻿Telerik ZipLibrary allows you to open, extract from, create and add to Zip files from within your applications.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/ziplibrary.html">online documentation</a></p>
