<p>This example demonstrates how to create and add new visual and data items to <strong>RadListControl</strong> and <b>RadDropDownList</b>. This is done through the <i>CreatingVisualListItem</i> event, which allows you to display custom controls in the <strong>RadListControl</strong> and <b>RadDropDownList</b>, such as check boxes, radio buttons, and other custom elements. </p>
<p>The example also shows how to synchronize the controls with the virtualiaztion . Review the code for more information.</p>