﻿With the ZipLibrary you can easily compress and decompress your streams using the preferred compression level.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/ziplibrary-features-compress-a-stream.html">online documentation</a></p>
