The example showcases some of the new controls introduced with Q2 2010, namely RadPageView and RadDesktopAlert. The example mimics <i>Microsoft Outlook 2007</i>, its navigation menu and mail alert functionality.
Selecting an item from the nav menu stack displays its content in the PageView content area. You can exclude items by using the <i>Overflow Dropdown Menu</i> and can hide them by using the <i>Overflow Grip</i>.
The DesktopAlert will show at the predefined time to notify the user of new events. The componet can be used together with RadScheduler, or as a standalone control.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/pageview-overview.html">online documentation</a></p>