﻿This example illustrates the integration between <b>RadWordsProcessing</b> and <b>RadGridView</b>. You can visualize any data in RadGridView and easily export it to Docx, Rtf or Txt formats.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/wordsprocessing-getting-started.html">online documentation</a></p>
