﻿The BugTracker example uses <b>RadGridView</b>, <b>RadTreeView</b>, <b>RadDock</b> and <b>RadCommandBar</b> controls and how easy is to create
 a whole bug tracking system with <b>Telerik UI for WinForms</b>

