﻿RadPivotGrid supports subtotals and grandtotals that can be shown either at the end or at the beginning of the aggregated data.
You can also specify the position of the aggregates in the row cells which you used for grouping your data.

Once your layout is done, you can save it to an XML and load it later at your convenience.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/pivotgrid-layout-settings.html">online documentation</a></p>