The example gives a look into the bezier chart.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/chartview-series-types-bezier.html">online documentation</a></p>