This example demonstrates the View and Selection events of <strong>RadCalendar</strong>:
* <strong>ViewChanging</strong> is a cancelable event that is fired prior to changing the current view to a new one. Its arguments contain a reference to the new view;
* <strong>ViewChanged </strong>fires when the default view of the calendar is changed;
* <b>SelectionChanging</b>is a cancelable event that is fired prior to adding dates to the <i>SelectedDates</i> collection of <strong>RadCalendar</strong>;
* <strong>SelectionChanged</strong> is fired after all selected dates are added to the <i>SelectedDates</i> collection of <strong>RadCalendar.</strong><p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/calendar-overview-important-events.html">online documentation</a></p>